In [ ]:
#dictionary
# creted using {}
#use key value pair, value and pairs are seprated by :
#key should be unique and it's immutable

In [1]:
d1={'piyush':24,'shanu':23,'shashank':21}
print(d1)

{'piyush': 24, 'shanu': 23, 'shashank': 21}

In [5]:
d2={'piyush':34,'height':22}
d1.update(d2)    #.update()- is used to merge two dictionaries
print(d1)

{'piyush': 34, 'shanu': 23, 'shashank': 21, 'age': 34, 'height': 22}

In [7]:
dict= {**d1,**d2}            #** method- used to merge 2 dictionaries
print(dict)                # ** oprends used to unpack the key value pairs

{'piyush': 34, 'shanu': 23, 'shashank': 21, 'age': 34, 'height': 22}

In [9]:
md= d1 | d2
print(md)

{'piyush': 34, 'shanu': 23, 'shashank': 21, 'age': 34, 'height': 22}

In [ ]:
#methods to remove ditctionry
#pop(key)
#del
#clear()

In [ ]:
#iterate over dictionary
#items- returns key and value pair
#key -returns keys as sequence

In [13]:
for x in d1:
    print(d1)

{'piyush': 34, 'shanu': 23, 'shashank': 21, 'age': 34, 'height': 22}
{'piyush': 34, 'shanu': 23, 'shashank': 21, 'age': 34, 'height': 22}
{'piyush': 34, 'shanu': 23, 'shashank': 21, 'age': 34, 'height': 22}
{'piyush': 34, 'shanu': 23, 'shashank': 21, 'age': 34, 'height': 22}
{'piyush': 34, 'shanu': 23, 'shashank': 21, 'age': 34, 'height': 22}

In [20]:
d10={'1':10,'2':20,'3':30,'4':40,'5':50}
for x in d10:     # to iterate over values
    print(d10[x])

10
20
30
40
50

In [21]:
for x in d10.values():
    print(x)             # .values to iteartes over values in dictionary

10
20
30
40
50

In [23]:
#key method to return keys
for x in d10.keys():
    print(x)

1
2
3
4
5

In [24]:
#return both key and value in dictionary
for x,y in d10.items():
    print(x,y)

1 10
2 20
3 30
4 40
5 50

In [ ]:
#get method

In [27]:
s1= "name,marks,subject\njoe,68,maths\ntom,59,english\nalice,63,science"
data =s1.split('\n')
print(data)

['name,marks,subject', 'joe,68,maths', 'tom,59,english', 'alice,63,science']