In [ ]:
#set datatype
#use {} braces 
#set must have unique data, duplicates are not allowed
#indexing does not work
#set is unordered
#set elements should be immutable

In [3]:
list1=(10,20,30,40,50,20,30,10)
s1=set(list1)
print(s1)

{40, 10, 50, 20, 30}

In [4]:
print(s1[3])   #indexing not allowed in set

TypeError: 'set' object is not subscriptable

In [10]:
for x in s1:
    print (s1)

{40, 10, 50, 20, 30}
{40, 10, 50, 20, 30}
{40, 10, 50, 20, 30}
{40, 10, 50, 20, 30}
{40, 10, 50, 20, 30}

In [11]:
s1.remove(40) #remove is used to remove elemnt
print(s1)

{10, 50, 20, 30}

In [12]:
s1.add(70)

In [13]:
print(s1)

{70, 10, 50, 20, 30}

In [14]:
s1.discard(50)
print(s1)    #discard is used to delet element in set

{70, 10, 20, 30}

In [15]:
s1.pop()     #pop is used to remove random elements in set
print(s1)

{10, 20, 30}

In [18]:
# .del() - it is used to delet the set completely
del s1
print(s1)

NameError: name 's1' is not defined

In [22]:
l2=(23,34,44,56,55)
s2=set(l2)        #clear() is used to clear the all element in the set
s2. clear()
print(s2)

{34, 44, 23, 55, 56}

In [23]:
s2.clear()
print (s2)

set()

In [24]:
s3=set{5}
print(s3)

SyntaxError: invalid syntax (3449091822.py, line 1)

In [26]:
s4={23,34,45}
print(s4)  
print(type(s4))
#declearing set

{34, 45, 23}
<class 'set'>

In [28]:
for x in s4:
    print(x)    #looping element through set

34
45
23

In [29]:
for x in s4:
    print(s4) #iterating set

{34, 45, 23}
{34, 45, 23}
{34, 45, 23}

In [ ]:
# working with strings:

In [30]:
a="piyush"
a.upper()    #string

'PIYUSH'

In [31]:
print(a)

piyush

In [32]:
a.switchcase()

AttributeError: 'str' object has no attribute 'switchcase'

In [33]:
a.swapcase()

'PIYUSH'

In [34]:
for x in a:
    print(x)

p
i
y
u
s
h

In [35]:
for x in a:
    print(a)

piyush
piyush
piyush
piyush
piyush
piyush

In [37]:
a.search(i)
print(a)

AttributeError: 'str' object has no attribute 'search'

In [39]:
s="madam"
print(s.count('a'))

2

In [42]:
str="cat -sat -on- mat"
words= str.split('-')
print(words)      #passing delimeter in strings

['cat ', 'sat ', 'on', ' mat']

In [ ]:
#.split() used to split the string

In [48]:
#formating string
pi=3.141567
print("value of pi is %f"%pi)
print("the value of pi = %.2f",%pi)

SyntaxError: invalid syntax (2655180257.py, line 4)

In [49]:
print("It;s alright")

It;s alright

In [52]:
print ("he is 'piyush' ")

he is 'piyush'

In [54]:
a="name"
print(type("name"))

<class 'str'>

In [56]:
a="name,address,phone number"
a.split(',')
print(a)

name,address,phone number

In [57]:
print(len(a))

25

In [58]:
for x in a:
    print(a)

name,address,phone number
name,address,phone number
name,address,phone number
name,address,phone number
name,address,phone number
name,address,phone number
name,address,phone number
name,address,phone number
name,address,phone number
name,address,phone number
name,address,phone number
name,address,phone number
name,address,phone number
name,address,phone number
name,address,phone number
name,address,phone number
name,address,phone number
name,address,phone number
name,address,phone number
name,address,phone number
name,address,phone number
name,address,phone number
name,address,phone number
name,address,phone number
name,address,phone number

In [59]:
for x in a:
    print(x)

n
a
m
e
,
a
d
d
r
e
s
s
,
p
h
o
n
e

n
u
m
b
e
r

In [61]:
str="piyush"
print(str[5])

h

In [63]:
print('i' in str)  #in

True

In [64]:
print("k" in str)

False

In [68]:
if 'p' in str:
    print("yes")
else:
    print("no")

yes

In [69]:
print('s' not in str)   #n0t in

False

In [78]:
b="hello piyush"
print(b[0:4])

hell

In [76]:
print(b[5:])

piyush

In [79]:
for x in b:
    print(x)

h
e
l
l
o

p
i
y
u
s
h

In [81]:
# -ve index for slicing
h="homemaker"
print(h[-5:-1])

make

In [84]:
a="  hello how are you? "
print(a.strip())

hello how are you?